:host {
    display: block;
    background-color: #e8eaf6; // Un fondo azulado muy suave
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5vh;
    min-height: 100vh;
}